<!-- Aqui estou pegando um template html que possui variaveis e preenchendo essas variveis, dessa forma eu evito HTML repetitivo -->
{% extends "relatorios/reports_form.html" %} 
{% load static %}
<!-- Aqui estou passando meu formulario HTML, dessa maneira nao fico tendo que criar o restante do site -->
{% block card_color_class %}bg-balancete-light bg-gradient{% endblock %}

{% block report_icon %}
  <div class="icon-container icon-balancete">
    <i class="bi bi-wallet2"></i>
  </div>
{% endblock%}

{% block form_instructions_content %}Como utilizar o formulário: &#10;&#10;Opção: Cruzamento com ECF&#10; - Você pode enviar: uma empresa OU uma lista de empresas.&#10; - Resultado: Relatório em formato Excel (.xlsx).&#10;&#10;Opção: Balancete Normal&#10;- Uma empresa: Resultado em HTML.&#10;- Lista de empresas: Resultado em Excel.&#10;&#10;Opção: Balancete Consolidado&#10;- Você deve enviar: uma lista de empresas.&#10;- Resultado: Resultado em HTML.
{% endblock form_instructions_content %}

{% block report_color_class %}icon-balancete{% endblock %}

{% block form_content %}

{{ request.session.balancete_form_inputs|json_script:"form-inicial" }}

<form action="{% url 'relatorios:balancete' %}"
  method="POST" 
  enctype="multipart/form-data" 
  id="reportForm" 
  x-data="reportForm(JSON.parse(document.getElementById('form-inicial').textContent || '{}'))"
>

  {% csrf_token %}
  
  {% include "relatorios/partials/comuns_inputs.html" %}

  <hr class="my-4">

  <!-- Tipo de balancete -->
  <div class="mt-4">
    <label class="form-label fw-bold">{{ form.balancete_tipo.label}}</label>
      <div class="d-flex flex-wrap gap-3 pb-3">
        {% for field in form.balancete_tipo %}
        <div class="form-check">
          {{ field.tag }}
          <label class="form-check-label" for="{{ field.id_for_label }}">
            {{ field.choice_label }}
          </label>
        </div>
        {% endfor %}
      </div>
  </div>

  <div class="mb-4">
    <label class="form-label fw-bold">Opções</label>
  <div class="row g-3">

    <!-- Zeramento -->
    <div class="col-md-4 mb-3">
      <div class="form-check">
        {{ form.zeramento }}
        <label class="form-check-label" for="{{ form.zeramento.id_for_label }}">
          {{ form.zeramento.label }}
        </label>
      </div>
    </div>


    <!-- Transferência -->
    <div class="col-md-4 mb-3">
      <div class="form-check">
        {{ form.transferencia }}
        <label class="form-check-label" for="{{ form.transferencia.id_for_label }}">
          {{ form.transferencia.label }}
        </label>
      </div>
    </div>

    <!-- Resumo -->
    <div class="col-md-4 mb-3">
      <div class="form-check">
        {{ form.resumo }}
        <label class="form-check-label" for="{{ form.resumo.id_for_label }}">
          {{ form.resumo.label }}
        </label>
      </div>
    </div>


    <!-- Conferência -->
    <div class="col-md-4 mb-3">
      <div class="form-check">
        {{ form.conferencia }}
        <label class="form-check-label" for="{{ form.conferencia.id_for_label }}">
          {{ form.conferencia.label }}
        </label>
      </div>
    </div>

    <!-- Cruzamento ECF -->
    <div class="col-md-4 mb-3" x-show="exibirCruzamentoECF">
      <div class="form-check">
        {{form.cruzamento_ecf}}
        <label class="form-check-label" for="{{ form.cruzamento_ecf.id_for_label }}">
          {{ form.cruzamento_ecf.label }}
        </label>
      </div>
    </div>

    <!-- Consolidado -->
    <div class="col-md-4 mb-3" x-show="!exibirCruzamentoECF">
      <div class="form-check">
        {{form.consolidado}}
        <label class="form-check-label" for="{{ form.consolidado.id_for_label }}">
          {{ form.consolidado.label }}
        </label>
      </div>
    </div>


    </div>
  </div>

  <div class="mb-4"></div>
  <div class="d-flex justify-content-end gap-2 mt-4">
    <button type="reset" class="btn btn-outline-secondary"><i class="bi bi-arrow-clockwise"></i> Limpar</button>
    <button type="submit" class="btn btn-primary"><i class="bi bi-file-earmark-text"></i> Gerar</button>
  </div>
</div>

</form>

{% endblock %}


{% block scripts_extra %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
<script src="{% static 'js/balanceteFormController.js' %}"></script>
{% endblock %}