<!-- Aqui estou pegando um template html que possui variaveis e preenchendo essas variveis, dessa forma eu evito HTML repetitivo -->
{% extends "relatorios/reports_form.html" %} {% load static %}

<!-- Aqui estou passando meu formulario HTML, dessa maneira nao fico tendo que criar o restante do site -->

{% block form %}
<form id="reportForm" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- INPUT CONEXAO  -->

  <div class="mb-4">
    <label class="form-label fw-bold">{{ form.conexao.label}}</label>

    <div class="d-flex flex-wrap gap-3">
      {% for field in form.conexao %}
      <div class="form-check">
        {{ field.tag }}
        <label class="form-check-label" for="{{ field.id_for_label }}">
          {{ field.choice_label }}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row g-3">
    <!-- INPUT EMPRESA  -->
    <div class="col-md-4">
      <label
        for="{{form.codigo_empresa.id_for_label}}"
        class="form-label fw-bold"
      >
        {{form.codigo_empresa.label}}
      </label>
      {{ form.codigo_empresa }}
      <div id="help-multiplas-empresas" style="display: none">
        <small class="form-text text-muted">
          {{ form.codigo_empresa.help_text }}
        </small>
      </div>
    </div>
    <!-- INPUT DATA INICIAL  -->
    <div class="col-md-4">
      <label for="dataInicial" class="form-label fw-bold">
        {{ form.data_inicial.label }}
      </label>
      {{ form.data_inicial }}
    </div>
    <!-- INPUT DATA FINAL  -->
    <div class="col-md-4">
      <label for="dataFinal" class="form-label fw-bold">
        {{ form.data_final.label }}
      </label>
      {{ form.data_final }}
    </div>
  </div>

  <!-- INPUT BALANCETE  -->

  <div class="mt-4">
    <label class="form-label fw-bold">{{ form.balancete_tipo.label }}</label>

    <div class="d-flex flex-wrap gap-3 pb-3">
      {% for field in form.balancete_tipo %}
      <div class="form-check">
        {{ field.tag }}
        <label class="form-check-label" for="{{ field.id_for_label }}">
          {{ field.choice_label }}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="mb-4">
    <label class="form-label fw-bold">Opções</label>
    <div class="row g-3">
      <div class="col-md-4 mb-3">
        <div class="form-check">
          {{ form.zeramento }}
          <label
            class="form-check-label"
            for="{{ form.zeramento.id_for_label }}"
          >
            {{ form.zeramento.label }}
          </label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-check">
          {{ form.transferencia }}
          <label
            class="form-check-label"
            for="{{ form.transferencia.id_for_label }}"
          >
            {{ form.transferencia.label }}
          </label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-check">
          {{ form.resumo }}
          <label class="form-check-label" for="{{ form.resumo.id_for_label }}">
            {{ form.resumo.label }}
          </label>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-check">
          {{ form.conferencia }}
          <label
            class="form-check-label"
            for="{{ form.conferencia.id_for_label }}"
          >
            {{ form.conferencia.label }}
          </label>
        </div>
      </div>
      <div class="col-md-4 mb-3" id="grupo-consolidado" style="display: none">
        <div class="form-check">
          {{ form.consolidado }}
          <label
            class="form-check-label"
            for="{{ form.consolidado.id_for_label }}"
          >
            {{ form.consolidado.label }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4"></div>
  <div class="d-flex justify-content-end gap-2 mt-4">
    <button type="reset" class="btn btn-outline-secondary">Limpar</button>
    <button type="submit" class="btn btn-primary">Gerar</button>
  </div>
</form>
{% endblock form %}

{% block script_extra %}
  <script src="{% static 'js/form_balancete.js' %}"></script>
{% endblock script_extra %}