<div class="action-buttons d-flex justify-content-end flex-wrap gap-2 mb-4">
  <a
    href="{% url 'relatorios:balancete_pesquisa_view' %}"
    class="btn btn-outline-secondary"
  >
    <i class="bi bi-arrow-left"></i>
    Voltar
  </a>

  <button id="btn-save-print" class="btn btn-secondary">
    <i class="bi bi-printer"></i>
    Imprimir
  </button>

  <button id="btn-copy-text" class="btn btn-primary">
    <i class="bi bi-clipboard"></i>
    Copiar Texto
  </button>

  <button id="btn-save-pdf" class="btn btn-danger">
    <i class="bi bi-file-earmark-pdf"></i>
    Salvar PDF
  </button>

  <button id="btn-save-xlsx" class="btn btn-success">
    <i class="bi bi-file-earmark-excel"></i>
    Salvar Excel
  </button>
</div>
